service: STUDENT-ID-notes-api

plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    platform: node
  stage: STUDENT-ID

provider:
  name: aws
  region: eu-west-1
  endpointType: REGIONAL
  runtime: nodejs20.x
  iamRoleStatements: ${file(../common/common.yml)}
  profile: hagenberg
  environment:
    STAGE: ${self:custom.stage}
    NODE_OPTIONS: "--enable-source-maps"


functions:
  createNote:
    handler: api.createNote
    events:
      - http:
          method: post
          path: notes
          cors:
            origin: '*'
  listNotes:
    handler: api.listNotes
    events:
      - http:
          method: get
          path: notes
          cors:
            origin: '*'
  getNote:
    handler: api.getNote
    events:
      - http:
          method: get
          path: notes/{uuid}
          cors:
            origin: '*'
  putNote:
    handler: api.putNote
    events:
      - http:
          method: put
          path: notes/{uuid}
          cors:
            origin: '*'
  deleteNote:
    handler: api.deleteNote
    events:
      - http:
          method: delete
          path: notes/{uuid}
          cors:
            origin: '*'
