service: STUDENT-ID-testS-api

plugins:
  - serverless-esbuild

custom:
  stage: STUDENT-ID

provider:
  name: aws
  region: eu-west-1
  endpointType: REGIONAL
  runtime: nodejs20.x
  iamRoleStatements: ${file(../common/common.yml)}
  profile: hagenberg

resources:
  - ${file(../common/cognito-authorizer.yml)}

functions:
  test-function:
    handler: api.test
    events:
      - http:
          method: get
          path: test
          cors:
            origin: '*'
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer
