service: matthias-test-api

custom:
  stage: dev

provider:
  name: aws
  region: eu-west-1
  endpointType: REGIONAL
  runtime: nodejs20.x
  profile: hagenberg

functions:
  test-function:
    handler: api.test
    events:
      - http:
          method: get
          path: test
          cors:
            origin: '*'
