service: STUDENT-ID-resources

plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    platform: node
  stage: STUDENT-ID

provider:
  name: aws
  region: eu-west-1
  endpointType: REGIONAL
  runtime: nodejs20.x
  profile: hagenberg

resources:
  - ${file(cognito/user-pool.yml)}
  - ${file(cognito/user-pool-client.yml)}
  - ${file(cognito/cognito-authorizer.yml)}
  - ${file(dynamodb/table.yml)}
  - ${file(s3/bucket.yml)}

functions:
  health-check:
    handler: api.healthCheck
    events:
      - http:
          method: get
          path: health-check
          cors:
            origin: '*'